<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <center>
        <h1>for loop</h1>
        {% for i in name %}
            <h1>{{i}}</h1>
        {% endfor %}
    </center>  -->

    <center>
        {% if a > b  and a > c %}
            <h1>a is greater {{a}}</h1>
        {% elif b > c %}
            <h1>b is greater {{b}}</h1>
        {% else %}
            <h1>c is greater {{c}}</h1>
        {% endif %}
    </center>
</body>
</html>